
.idea/encodings.xml
.idea/misc.xml
.idea/php.xml
.idea/modules.xml
.idea/Welcome_plugin.iml
.idea/workspace.xml
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/config.properties
nbproject/project.xml
